<div class="container-fluid">
    
    <div class = "overview-image2">
    <div class="row vcenter2">
    <div class="jumbotron overview-content2">
    
            
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>Why did you click this? Yeah, its cuz you know that we got that hookup for landlords in need but you have questions.
                We got that good good for property management, statistical analysis, and general organization of ya workflow nomsayn.
                We have a team of dedicated homies bringing you our property management portal known as Homeease</p>
            </div>
        
    </div>
    </div>

    <div class="row">
    <div class="jumbotron overview-content2">

    

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center width-60" src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/14355707_1117319798356456_4524586829246926088_n.jpg?oh=ba0e2e3b41e456f5d5324ee57f971f4b&oe=589A4836" alt="">
            <h3>Jake Veal
                <small>CEO</small>
            </h3>
            <p>The legend himself and arbiter of landlords</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center width-60" src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/13912381_10202025538076176_5853538092589779807_n.jpg?oh=bbd2b16cae70a887023f912dea3138f1&oe=589B38CB" alt="">
            <h3>Kyle Christiansen
                <small>Code Monkey</small>
            </h3>
            <p>Ask him about chocolate... HATED EIT</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center width-60" src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/10418996_1512899718950583_4489970843062699899_n.jpg?oh=417547f480e11c8b042c902990cd08fd&oe=58CB552F" alt="">
            <h3>Sam Glenn
                <small>( ͡° ͜ʖ ͡°)</small>
            </h3>
            <p>A real life meme</p>
        </div>
        <div class="clearfix visible-lg-block"></div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center width-60" src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/12540951_1238887466127499_6940196141799956600_n.jpg?oh=d6d13970f8e78f261cd0224e02a5be9a&oe=58CC02E2" alt="">
            <h3>Richard Su
                <small>PPAP</small>
            </h3>
            <p>I have a pen. I have an apple. Apple pen.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center width-60" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAayAAAAJDY5Mjc1ZDM3LTUxYTUtNDQ0MS04ZjdmLTRmODZkMjViY2E0NQ.jpg" alt="">
            <h3>Cody Soultz
                <small>Secret Weapon</small>
            </h3>
            <p>Working in an underground lab, enhanced with the most sophisticated C-749 android technologies. Our secret weapon...</p>
        </div>
    </div>
    
    
    

    </div>
    </div>
    
  </div>
</div>