<div class = "overview-image">
    <div <div class="row">
        <div class="vcenter">
            <div class="jumbotron overview-content">
                <h1>Home Ease Management</h1>
                <p>
                        Upload your properties and manage them<br/>
                        Offer premium services to your tenants<br/>
                        Schedule and manage repair requests<br/>
                        Make your tenants happy!<br/>
                <p>
            </div>
        </div>
    </div>
</div>
