<div class = "overview-image">
    <div <div class="row">
        <div class="vcenter">
            <div class="jumbotron overview-image-filter">
                <h3>Home Ease Management</h3>
                <ul>
                
                        Upload your properties to manage them<br/>
                        Attract more tenants<br/>
                        Schedule repairs<br/>
                        Make your tenants happy<br/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
