
<%content_for :side_content do %>
<div class = container-fluid>
    <div class = "row-fluid">
       <div class="block">
      <br>
        <h1 style = 'padding-left:5%' >Property<small><b>  ~<%= @property.street %></b></small></h1>
      <hr>
      <br>
      	  <br>
              <%= render partial: "property_widget", :locals => {property: @property} %>
          <br>
    </div>  
 	</div>
  

  <div class = "row-fluid">
    <div class="block">
        <br>
      	<h1 style = 'padding-left:5%'>Applicants</h1>
      	<hr><br>
     
        <% (Tenant.where("property_id = '#{@property.id}'")).each do |tenant| %>
        <div class = "row-fluid">
                    <%= render partial: "tenant_widget", :locals => {tenant: tenant} %>
                    <hr>
        </div>
        <% end %> 
        </div> 
  </div>


  <div class = "row-fluid">
    <div class="block">
        <br>
      	<h1 style = 'padding-left:5%'>Residents </h1>
      	<hr><br>
     
        <% (Tenant.where("property_id = '#{@property.id}'")).each do |tenant| %>
        <div class = "row-fluid">
                    <%= render partial: "tenant_widget", :locals => {tenant: tenant} %>
                    <hr>
        </div>
        <% end %> 
        </div> 
  
<% end %>
