
<%content_for :side_content do %>
   <br><br><br>
	<div class="row-fluid">
      <h1 class="pull-center" align = "center"><strong>PROPERTIES</strong></h1>
	</div>	
  <br><br><br><br>
  <div class="row-fluid">
      	<div class="span12 block block-med offsetHalf1">
      	  <br>
              <%= render partial: "property_widget", :locals => {property: @property} %>
          <br>
        </div>

  </div>  
 	
  <br><br>
  <div class="row-fluid">
  	<div class="span12 block block-med offsetHalf1">
      	  <br>
      	   <h1 class="pull-center"><strong>Tenant Information</strong></h1>
        <% (Tenant.where("property_id = '#{@property.id}'")).each do |tenant| %>
                    <%= render partial: "tenant_widget", :locals => {tenant: tenant} %>
        <% end %>      
      </div>
	</div>
</div><!---/cont---->
<br><br>
<br><br>

    <br><br><br>
        
    <% end %>

