
.overview-image {
  background-image: image-url('home-ease-overview.jpg');

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.overview-content{
  background-color: rgba(0,0,0,0.7);
  float:none;
  margin:0 auto;
  font-size: 24px;
  color: #ffffff;
  width: 100%;
  width: 100vw;
  margin-right: 60vh;
  p{
    text-align: right;
  }
}
 
.vcenter {
    height: 100vh;
    display: flex;
    align-items: center;
}