
      	 <div class = "container-fluid">
      	  <br>
                <div class="col-md-4">
                    <img src="http://www.mchail.org/images/mchail/default.png"  class="img-rounded img-responsive image_padding" />
                    <p>We need to add buttons here or on settings -> edit profile for setting/changing picture</p>
                </div>
                <div class="col-md-8">
                    <h3>
                        <%= current_user.first_name %> <%=current_user.last_name %></h3>
                    <hr>
                    <h4 text-align = "center">Personal Information</h4>
                    <hr>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i> <%= current_user.email %>
                        <br />
                        <i class="glyphicon glyphicon-earphone"></i> <%= current_user.phone_number %></p>
                    
                    <hr>
                    <h4 text-align = "center">Business Information</h4>
                    <hr>
                    <p>
                        <i class="glyphicon glyphicon-asterisk"></i> Business name 
                        <br />
                        <i class="glyphicon glyphicon-asterisk"></i> Business Address 
                        <br />
                        <i class="glyphicon glyphicon-earphone"></i> Business Phone number 
                        <br />
                        <i class="glyphicon glyphicon-envelope"></i> Business Email </p>
                </div>
          <br>
        </div>
 
