<% content_for :side_content do%>
<div class="container-fluid block block-full">
  <h3>Richards page for bank information</h3> 
  <%= button_to "Test Firebase", :action => "create" %>
  <h3>hello bank</h3> 
</div>
<% end %>
