<% content_for :side_content do%>
<<<<<<< HEAD
  <div class="container-fluid">
    <div class="side-body">
        <h3>hello bank</h3> 
    </div>
  </div>
=======
    <h3>Richards page for bank information</h3> 
    <%= button_to "Test Firebase", :action => "create" %>
>>>>>>> 04fed857d9018919453b9615577e1b1890d33c79
<% end %>
