
<% content_for :side_content do%>

    <%= render 'profile_widget' %>
    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=1W3sslyiUfg"></iframe>
    </div>
<% end %>
