<% content_for :side_content do %>
<div class="container-fluid block">
    <br>
    <hr>
    <div class = 'col-med-4 text-center'>
        <%= button_to "Delete Account", remove_user_path(current_user.id), :method => :delete,:class =>'btn btn-danger' %>
        
    </div>
    
    <div class = 'col-med-4 text-center'>
        <%= button_to "Edit Account", update_path, :method => :get, :class => ' btn btn-success' %>
    </div>
   <hr>
   <div class = 'col-med-4 text-center'>
  
    </div>
   <hr>
   <br>
</div>
<% end %>