<% if user_signed_in? %>
  <li>
    <%= link_to dashboard_path do %> 
         <%= content_tag :span, "", :class => "glyphicon glyphicon-user" %>
         Profile
    <% end %>
    
  </li>
    <li role="presentation"><a href="#">Messages <span class="badge">3</span></a>
<% end %>
  

