<%# add navigation links to this file %>
<li>
    <%= link_to about_visitor_path(1) do %> 
         <%= content_tag :span, "", :class => "glyphicon glyphicon-info-sign" %>
         About
    <% end %>
</li>
<li>
    <%= link_to listings_visitor_path(1) do %> 
        <%= content_tag :span, "", :class => "glyphicon glyphicon-globe" %>
        Listings
    <% end %>
</li>

